<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286226959863-j39nv3ei28l7h1pl80htbhulp0pf5pvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286226959863-j39nv3ei28l7h1pl80htbhulp0pf5pvq</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Bd_PuCsTWwhAPalFELN16e3gwN4_Irg</string>
	<key>GCM_SENDER_ID</key>
	<string>286226959863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhHwang.CPRtoU</string>
	<key>PROJECT_ID</key>
	<string>cpr2u-pushtest</string>
	<key>STORAGE_BUCKET</key>
	<string>cpr2u-pushtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286226959863:ios:c93653fe262da34d1532f2</string>
</dict>
</plist>